@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  caret-color: transparent;
}

.customInput {
  @apply w-full rounded-lg h-[40px] border-[1px] focus-visible:outline-none bg-lightMode-tbg dark:bg-darkMode-tbg border-lightMode-border dark:border-darkMode-border  focus-visible:border-lightMode-button focus-visible:shadow-[0_0px_6px_#38bdf8] caret-lightMode-p dark:caret-darkMode-p placeholder:text-lightMode-p dark:placeholder:text-darkMode-p text-white;
}
body,
html {
  overflow: hidden;
}
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.bg {
  @apply bg-lightMode-bg dark:bg-darkMode-bg;
}
.sbg {
  @apply bg-lightMode-sbg dark:bg-darkMode-sbg;
}
.tbg {
  @apply bg-lightMode-tbg dark:bg-darkMode-tbg;
}
.fbg {
  @apply bg-lightMode-fbg dark:bg-darkMode-fbg;
}
.pbg {
  @apply bg-lightMode-p dark:bg-darkMode-p;
}
.bgbtn {
  @apply bg-lightMode-button dark:bg-darkMode-button hover:bg-lightMode-buttonHover hover:dark:bg-darkMode-buttonHover;
}
.bgbtn2 {
  @apply bg-lightMode-bg dark:bg-darkMode-bg
  hover:bg-lightMode-tbg dark:hover:bg-darkMode-tbg;
}
.cborder {
  @apply border-lightMode-border dark:border-darkMode-border;
}
.th {
  @apply text-lightMode-header dark:text-darkMode-header;
}
.tb {
  @apply text-lightMode-button dark:text-darkMode-button;
}
.tp {
  @apply text-lightMode-p dark:text-darkMode-p;
}
.tbg-gradient {
  background: #33415580;
  background: linear-gradient(45deg, #33415580 0%, #212c3b80 100%);
}
@keyframes slideIn {
  from {
    transform: translateX(-312px); /* Move from left to right */
  }
  to {
    transform: translateX(0); /* Move to the right */
  }
}
/* ::-webkit-scrollbar {
 
  width: 12px;
}

 ::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background: #33415580;
    /* background: linear-gradient(to right, transparent, transparent 25%, #33415580 25%, #33415580 75%, transparent 75%, transparent); */

/* }  */
.trapezoid {
  position: relative;
  /* top: -53px; */
  /* transform: perspective(10px) rotateX(1deg); */
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
}
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #33415580;
}
.amantic {
  font-family: 'Amatic SC';
}
.sb::-webkit-scrollbar {
  width: 14px;
}
.sb::-webkit-scrollbar-thumb {
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #33415580;
}
/* YourComponent.css */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fadeInOut {
  animation: fadeInOut 2s ease-out;
}

@media only screen and (max-width: 520px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

.animate-slide-in {
  animation: slideIn 0.5s forwards; /* 0.5s duration for sliding in */
}
input::-ms-reveal {
  filter: invert(100%);
}

input[type='checkbox']:checked {
  background: rgb(14, 165, 233);
  color: white;
  border: 1px solid 0e1726;
}

input[type='checkbox'] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: #141d2c;
  border: 1px solid 0e1726;
  color: white;
}

input[type='checkbox']:after {
  content: ' ';
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;

  border-width: 0 2px 2px 0;
  transform: rotate(50deg);
  display: none;
}

input[type='checkbox']:checked:after {
  display: block;
}
#root {
  width: 100vw;
  height: 100vh;
}
.scene {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.gradient_bgAbout {
  /* Set the gradient as the text fill */

  background: linear-gradient(
    90deg,
    rgba(135, 221, 238, 1) 0%,
    rgba(182, 240, 156, 1) 100%
  );
}
.gradient_header {
  /* Set the gradient as the text fill */

  background: linear-gradient(
    0deg,
    rgba(77, 98, 229, 1) 0%,
    rgba(135, 221, 238, 1) 45%,
    rgba(182, 240, 156, 1) 100%
  );
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
}

.glowing-cursor {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255, 14%) 0%,
    rgba(14 23 38/ 10%) 70%
  );
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: luminosity;
  z-index: 9999;
  caret-color: transparent;
}
.screen-overlay {
  background: linear-gradient(
    var(--color-1, #1e2c4373) 0,
    var(--color-1, #1e2c4373) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
  height: 100%;
  width: 100%;
  animation: pan-overlay 22s infinite linear;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -100%;
  }
}
.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}

.screen-image {
  background-image: url('/oilrig.jpg');
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-size: 300%;
  background-position: 0% 0%;
  filter: sepia(100%) hue-rotate(180deg);
  opacity: 0.6;
  animation: pan-image 15s linear infinite;
}
.transition-div {
  height: 0;
  animation: expandHeight 0.5s ease forwards;
}
.translateGoUp {
  bottom: -100px;
  animation: goUpAnimation 2.5s ease forwards;
}
@keyframes goUpAnimation {
  0% {
    bottom: -100px;
  }
  25% {
    bottom: -100px;
  }
  50% {
    bottom: -62px;
  }
  75% {
    bottom: -62px;
  }
  100% {
    bottom: -37px;
  }
}
.translateGoDown {
  top: -30px;
  animation: goDownAnimation 4s ease forwards;
}
@keyframes goDownAnimation {
  0% {
    top: -30px;
  }
  80% {
    top: -30px;
  }
  100% {
    top: 7px;
  }
}
.translateGoUpSurvey {
  bottom: -90px;
  animation: goUpSurveyAnimation 5s ease forwards;
}
@keyframes goUpSurveyAnimation {
  0% {
    bottom: -90px;
  }
  90% {
    bottom: -90px;
  }
  100% {
    bottom: -48px;
  }
}

@keyframes expandHeight {
  from {
    height: 0;
  }
  to {
    height: 96px;
  }
}
.transition-divb {
  height: 96px;
  animation: expandHeightb 0.5s ease forwards;
}

@keyframes expandHeightb {
  from {
    height: 96px;
  }
  to {
    height: 0;
  }
}
@keyframes pan-image {
  0% {
    background-position: 36% 37%;
    background-size: 300%;
  }

  20% {
    background-position: 30% 35%;
    background-size: 300%;
  }

  20.0001% {
    /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 500%;
  }

  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }

  40.0001% {
    /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }

  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }

  60.0001% {
    /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }

  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }

  80.0001% {
    /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }

  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}
.FuelGoLogoAuthWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.FuelGoLogoAuthWrap:before,
.FuelGoLogoAuthWrap:after {
  content: '';
  position: absolute;
  top: 0px;
  background-color: rgb(var(--primary-rgb));
  border-radius: 1rem;
  box-shadow: 0px 0px 8px 3px rgb(var(--primary-rgb) / 60%);
}
.FuelGoLogoAuthWrap:before {
  height: 2px;
  width: 50px;
  translate: -20px -1rem;
  opacity: 0.75;
}
.FuelGoLogoAuthWrap:after {
  height: 3px;
  width: 30px;
  translate: 26px calc(-1rem - 0.5px);
}
:is(.FuelGoLogoAuth) {
  font-family: 'Source Code Pro', monospace;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.FuelGoLogoAuth {
  position: relative;
  font-size: 4.25rem;
  font-weight: 400;
}

.FuelGoLogoAuth:before,
.FuelGoLogoAuth:after {
  content: '';
  height: 6px;
  width: 6px;
  position: absolute;
  border: 2px solid white;
  border-radius: 2px;
}

.FuelGoLogoAuth:before {
  top: 42%;
  right: -1.5rem;
}

.FuelGoLogoAuth:after {
  top: 42%;
  left: -1.5rem;
}

.loadingScreen .loadingScreenline:nth-last-child(1) {
  animation: loadingB 1.5s 1s infinite;
}
.loadingScreen .loadingScreenline:nth-last-child(2) {
  animation: loadingB 1.5s 0.5s infinite;
}
.loadingScreen .loadingScreenline:nth-last-child(3) {
  animation: loadingB 1.5s 0s infinite;
}
@keyframes loadingB {
  0% {
    width: 15px;
  }
  50% {
    width: 35px;
  }
  100% {
    width: 15px;
  }
}
.loadingScreenline {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0px 5px;
  border-radius: 15px;
  background-color: #4b9cdb;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #141d2c inset !important;

  -webkit-text-fill-color: white;
}
@media (prefers-color-scheme: dark) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #141d2c inset !important;

    -webkit-text-fill-color: white;
  }
}

@keyframes move {
  0% {
    transform: translateX(-500%);
  }
  50% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(-500%);
  }
}

.animate-move {
  animation: move 1.5s linear infinite; /* Adjust animation duration and timing as needed */
}
